.text-color-tertiary {
    color:#52eac8;
}

.bg-primary-custom {
    background-color: #161765;
}

.main-header h1 {
    font-weight: bold;
}

.main-header .lead {
    color: rgba(255, 255, 255, 0.801);
    font-weight: bold;
    margin-bottom: 3em;
}

.main-header .btn {
    color: rgb(221, 221, 221);
    border-radius: 30px;
}

.jumbotron {
    background: rgba(89, 60, 143, 0.644);
    background: linear-gradient(45deg, #161765d5, rgba(156, 123, 216, 0.644)), url("../images/business.jpg");
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 12em;
}

#about-me {
    padding-top: 3em;
    padding-bottom: 3em;
}

.skills-headline{
    background-color: rgba(105, 90, 205, 0.192);
    font-weight: bold;
}

.skills div {
    padding-top: 8px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.skills img,
.skills p {
    display: inline-block;
    margin: 0;
}

.skills img {
    width: 20px;
}

#projects {
    background-color: #f8faff;
}

#projects h1{
    background-color: #f8faff;
    margin-bottom: 1em;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 3em;
}

#project-search {
    height: 2em;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 1em;
    font-style: italic;
  }

.projects-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    padding: 3em 2em;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.075);
    margin-bottom: 1.5em;
    width: 18rem;
}

.card-title {
    height: 48px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.project-card:hover {
    background-color: rgba(219, 242, 255, 0.075);
    transform: scale(1.03);
}

.project-card img {
    width: 60px;
}

.project-card h5{
    padding-top: 1.5em;
}

.project-card p{
    color: #78788c;
}

.card-link {
    margin-top: auto;
    margin-right: auto;
    margin-left: 0;
    padding: 0;
    color: rgb(0, 144, 201);
}

.project-card-divider {
    background-color: rgb(82, 199, 234);
    height: 2px;
    width: 40%;
    margin-left: 0;
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

#contact {
    background-color: #edf2ff;
    padding: 4em 0 10em;
}

.contact-container {
    font-weight: bold;
    color: #5774bd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.contact-item {
    padding: 1em;
    width: 250px;
    margin-left: 3em;
    margin-right: 3em;
    border: 2px solid rgba(0, 0, 0, 0.178);
    border-radius: 3px;
    margin-bottom: 3em;
}


.modal-header {
    background-color: #5858fc;;
}

.modal-btn {
    background-color: rgb(102, 138, 255);
    border: none;
}

.close {
    color: white;
}

.contact-icon {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    box-shadow: 0 0 13px rgba(26, 255, 37, 0.527);
}

.contact-icon:hover {
    transform: scale(1.2) rotate(360deg);
    transition: transform .5s ease-in-out ;
}

.contact-item a {
    text-decoration: none;
}

/* =====================================
 Media Queries
===================================== */


/* ---- 768px and larger(tablet/desktop)---- */

@media(min-width:768px) {
    
    .projects-container {
        flex-direction: row;
        justify-content: space-between;
    }

}
